<div class="container mt-4">
  <h3 class="mb-3">Blogs</h3>
<h4><%= link_to "Create Blog", new_blog_path, class: "btn btn-sm btn-info" %> </h4>
  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Actions</th>
        <th>Views</th>
        <th>Created By</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.id %></td>
          <td><%= blog.title %></td>
          <td><%= blog.description %></td>
          <td><%= blog.created_at.strftime("%d %b %Y") %></td>
          <td>
            <%= link_to "View", blog_path(blog), data: { turbo: false }, class: "btn btn-sm text-dark btn-success" %>
            <%= link_to "Edit", edit_blog_path(blog), class: "btn btn-sm btn-warning" %>
            <%= button_to "Delete", blog_path(blog), method: :delete, class: "btn btn-sm btn-danger" %>
          </td>
          <td><%= blog.views  %></td>
          <td><%= blog.try(:user).try(:email)  %></td>
          <td>
            <%if blog.status == "draft" %>
            <%= link_to "Published", update_blog_status_blog_path(blog),data: { turbo: false }, class: "btn btn-sm btn-info"%>
            <%else%>
            <%= link_to "draft", update_blog_status_blog_path(blog),data: { turbo: false } ,class: "btn btn-sm btn-warning"%>
            <%end%>
              
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
